:root {
        --color: #1E90FF;
      }
      body {
       background-color: #f0f8ff;
       background-image: url(https://img.freepik.com/vector-gratis/campo-futbol-verde_225004-1137.jpg?semt=ais_hybrid&w=740&q=80);
     }
     h1, h2 {
       text-align: center;
       color: red;
       text-shadow: 2px 2px 4px #000000;
     }
        form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
