<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="container"></div>
  <link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/230494/isolated/preview/e52c80aa065e32f3b03c5196db717691-balon-de-futbol-grande-plano.png">
  <title>Sigmotoa FC </title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h2>Jugadores</h2>
<a class="btn" href="/jugadores/nuevo">Agregar Jugador</a>
<table class="tabla">
  <thead><tr><th>ID</th><th>Nombre</th><th>Posición</th><th>Estado</th><th>Dorsal</th><th>Nacionalidad</th></tr></thead>
  <tbody>
    {% for j in jugadores %}
    <tr>
      <td>{{ j.id }}</td>
      <td>{{ j.nombre }}</td>
      <td>{{ j.posicion.value if j.posicion else '-' }}</td>
      <td>{{ j.estado.value if j.estado else '-' }}</td>
      <td>{{ j.dorsal or '-' }}</td>
      <td>{{ j.nacionalidad or '-' }}</td>
    </tr>
    {% else %}
    <tr><td colspan="6">No hay jugadores</td></tr>
    {% endfor %}
  </tbody>
</table>

  <footer class="site-footer">
    <small>Proyecto Final - Sigmotoa FC</small>
  </footer>
</body>
</html>