<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="container"></div>
  <link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/230494/isolated/preview/e52c80aa065e32f3b03c5196db717691-balon-de-futbol-grande-plano.png">
  <title>Sigmotoa FC </title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h2>Partidos</h2>
<form action="/partidos/nuevo" method="post" class="form-inline">
  <input name="rival" placeholder="Rival" required>
  <input name="fecha" placeholder="YYYY-MM-DD HH:MM" >
  <input name="local" placeholder="Local/Visitante">
  <input name="resultado" placeholder="Resultado">
  <button class="btn" type="submit">Agregar partido</button>
</form>

<table class="tabla">
<thead><tr><th>ID</th><th>Rival</th><th>Fecha</th><th>Local</th><th>Resultado</th></tr></thead>
<tbody>
  {% for p in partidos %}
  <tr>
    <td>{{ p.id }}</td>
    <td>{{ p.rival }}</td>
    <td>{{ p.fecha }}</td>
    <td>{{ p.local or '-' }}</td>
    <td>{{ p.resultado or '-' }}</td>
  </tr>
  {% else %}
  <tr><td colspan="5">No hay partidos</td></tr>
  {% endfor %}
</tbody>
</table>
  <footer class="site-footer">
    <small>Proyecto Final - Sigmotoa FC</small>
  </footer>
</body>
</html>